<div class="row">
				<div class="col-xl-12">
					<section class="comments">
						<h3 class="margin-top-45 margin-bottom-0">Comments <span class="comments-amount">(5)</span></h3>

						<ul>
							<li>
								<div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
								<div class="comment-content"><div class="arrow-comment"></div>
									<div class="comment-by">Kathy Brown<span class="date">12th, June 2019</span>
										<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
									</div>
									<p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus</p>
								</div>

								<ul>
									<li>
										<div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
										<div class="comment-content"><div class="arrow-comment"></div>
											<div class="comment-by">Tom Smith<span class="date">12th, June 2019</span>
												<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
											</div>
											<p>Rrhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque.</p>
										</div>
									</li>
									<li>
										<div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
										<div class="comment-content"><div class="arrow-comment"></div>
											<div class="comment-by">Kathy Brown<span class="date">12th, June 2019</span>
												<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
											</div>
											<p>Nam posuere tristique sem, eu ultricies tortor.</p>
										</div>

										<ul>
											<li>
												<div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
												<div class="comment-content"><div class="arrow-comment"></div>
													<div class="comment-by">John Doe<span class="date">12th, June 2019</span>
														<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
													</div>
													<p>Great template!</p>
												</div>
											</li>
										</ul>

									</li>
								</ul>

							</li>

							<li>
								<div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""> </div>
								<div class="comment-content"><div class="arrow-comment"></div>
									<div class="comment-by">John Doe<span class="date">15th, May 2015</span>
										<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
									</div>
									<p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
								</div>

							</li>
						 </ul>

					</section>
				</div>
			</div>
			<!-- Comments / End -->


			<!-- Leava a Comment -->
			<div class="row">
				<div class="col-xl-12">
					
					<h3 class="margin-top-35 margin-bottom-30">Add Comment</h3>

					<!-- Form -->
					<form method="post" id="add-comment">

						<div class="row">
							<div class="col-xl-6">
								<div class="input-with-icon-left no-border">
									<i class="icon-material-outline-account-circle"></i>
									<input type="text" class="input-text" name="commentname" id="namecomment" placeholder="Name" required/>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="input-with-icon-left no-border">
									<i class="icon-material-baseline-mail-outline"></i>
									<input type="text" class="input-text" name="emailaddress" id="emailaddress" placeholder="Email Address" required/>
								</div>
							</div>
						</div>

						<textarea  name="comment-content" cols="30" rows="5" placeholder="Comment"></textarea>
					</form>
					
					<!-- Button -->
					<button class="button button-sliding-icon ripple-effect margin-bottom-40" type="submit" form="add-comment">Add Comment <i class="icon-material-outline-arrow-right-alt"></i></button>
					
				</div>
			</div>